@import "{wolves:bourbon}/bourbon";

// Monochrome Colors

$dark:         #000;
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$light:        #fff;

// Brand Colors

$primary-color: #46A6D8;
$secondary-color: #08141B;
$neutral-color: #E1E1E3;
$offset-color: #F4FFFF;
$highlight-color: #9FC4D6;

// Global Colors

$font-color: $gray;
$header-color: $secondary-color;
$link-color: $primary-color;
$divider-color: $neutral-color;

// Alert Colors

$positive-color: #6CEE38;
$negative-color: #FC6262;
$caution-color: #FABC28;
$info-color: #30E3F6;

// Backgrounds

$background-hero: linear-gradient(rgba($secondary-color, 0.25), rgba($secondary-color, 0.75)), url(/images/bg.jpg);

// Speed

$fastest: 50ms;
$faster: 250ms;
$fast: 500ms;
$slow: 1000ms;
$slower: 2000ms;
$slowest: 3000ms;

// Sizes

$quantum: 0.05em;
$atomic: 0.10em;
$micro: 0.15em;
$mini: 0.25em;
$tiny: 0.5em;
$small: 0.75em;
$base: 1em;
$large: 2em;
$huge: 3em;
$jumbo: 4em;
$massive: 5em;
$giant: 6em;
$colossal: 7em;
$titanic: 8em;
$galactic: 9em;
$god: 10em;

$fluid-sixteenth: 6vh;
$fluid-eighth: 12.5vh;
$fluid-quarter: 25vh;
$fluid-third: 33.3333vh;
$fluid-half: 50vh;
$fluid-two-thirds: 66.6666vh;
$fluid-three-quarters: 75vh;
$fluid-full: 100vh;

$sixteenth: 6%;
$eighth: 12.5%;
$quarter: 25%;
$third: 33.3333%;
$half: 50%;
$two-thirds: 66.6666%;
$three-quarters: 75%;
$full: 100%;

// Typography

$font-family-sans-serif: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
$font-family-serif: 'Quattrocento', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, monospace;
$font-family-base: $font-family-serif;
$font-family-header: $font-family-sans-serif;

$font-size-base: 1rem;

// Modular Scale

$modular-scale-ratio: 1.2;
$modular-scale-base: $font-size-base;

// Media Queries

$phone-width: 30em;
$tablet-width: 48em;
$laptop-width: 62em;
$desktop-width: 75em;
$large-desktop-width: 100em;
$huge-desktop-width: 125em;
$jumbo-desktop-width: 175em;
$massive-desktop-width: 200em;
$giant-desktop-width: 250em;
$colossal-desktop-width: 300em;

// Animations

@keyframes loading {
  50% {
    opacity: 1;
    background: $secondary-color;
    transform: scaleY(1.5);
  }
}
